*{
    margin: 5px;
   
    font-size: 25px;
    
}




.auto{
    width: auto;
    border: 2px dashed saddlebrown;
    background-color: cadetblue;
    margin-top: 5px;
}
.min-content{
    width: min-content;
    border: 2px dashed saddlebrown;
    background-color: chocolate;
    margin-top: 5px;
}
.max-content{
    width: max-content;
    border: 2px dashed saddlebrown;
    background-color: slategray;
    margin-top: 5px;
}
.fit-content{
    width: fit-content;
    border: 2px dashed saddlebrown;
    background-color: slateblue;
    margin-top: 5px;
}