*{
    margin:0;
    padding:0;
    
}
body{
    
    background-color: blue;
    
}


.model{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.h3-element{
 margin: 1px;
 text-align: center;
 
}
.element{
    
    padding:8px 20px;
    
}
.lower{
    position:absolute;
    top: 2.8rem;
    border: 2px solid green;
    padding: 0 10px;
    background-color: #ffffff;
    text-align: center;
    width: 27vw;
    height: auto;
    
}
.box{
 border: 2px solid black;
 border-radius: 15px;
 width: 30vw;
 height: 30vh;
 background-color: cadetblue;
 padding: 0.5rem 1rem;
 position: relative;
 
}
/* .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid gray;
} */



